<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrickScore - User</title>
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <div class="score-header">
        <span id="score">0/0</span>
        <span id="over">Over: 0.0</span>
    </div>

    <div class="this-over">
        <h2>This Over</h2>
        <div class="balls-container" id="balls">
            
        </div>
    </div>

  

    <div class="over-listings" id="overs">
        <h2>Previous Overs</h2>
        
    </div>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
